<h2>投稿画面</h2>
<%= image_tag 'post.png', class: 'w100' %>
<h2>検索画面</h2>
<%= image_tag 'search.png', class: 'w100' %>
<h2>検索結果画面</h2>
<%= image_tag 'search_params.png', class: 'w100' %>
<h2>ホーム</h2>
<%= image_tag 'home.png', class: 'w100' %>
<h2>HOT画面</h2>
<%= image_tag 'hot.png', class: 'w100' %>